* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* utility-classes start*/

.headings {
    margin: 50px 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

header.fixed {
    background-color: #ffffff;
    position: fixed;
}


/* utility-classes end */

.nav_style {
    background: #fff;
    box-shadow: 0 10px 30px rgba(138, 155, 165, .15);
    z-index: 200;
}

.navbar-nav li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333;
    position: relative;
}

.navbar-nav li a:before {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 50%;
    width: 0%;
    height: 5%;
    background: #ff7230;
    transition: all 0.5s ease;
}

.navbar-nav li a.active:before {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 50%;
    width: 70%;
    height: 5%;
    background: #ff7230;
}

.navbar-nav li a:hover:before {
    width: 70%;
}

.navbar-nav li a:hover {
    color: #ff7230 !important;
}

.navbar-nav li .active {
    color: #ff7230 !important;
}

@media(max-width:998px) {
    .navbar-nav {
        margin-top: 40px !important;
        text-align: center;
    }
    .navbar-nav li a:hover:before {
        width: 0%;
    }
    .navbar-nav li a.active:before {
        width: 0%;
    }
}


/* navbar style end */


/* Main header start */

.header_text {
    font-size: 26px;
    color: #8c8c8c;
    margin-top: 50px;
}

.header_text2 {
    font-size: 26px;
    color: #2d3436;
    margin-bottom: 40px;
}

.span_header_text {
    color: #ff7230;
}

.hire_me {
    width: 160px;
    height: 40px;
    background: #ff7230;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.hire_me:hover {
    background: #fff;
    color: #ff7230;
    border: 1px solid #ff7230;
}

.about_me {
    width: 160px;
    height: 40px;
    color: #ff7230;
    font-size: 20px;
    background: #fff;
    text-transform: capitalize;
    outline: none;
    border: 1px solid #ff7230;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.about_me:hover {
    background: #ff7230;
    color: #fff;
    border: none;
}

.header_mail p {
    margin-top: 40px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}

.header_mail p:nth-child(2) {
    margin-top: -20px;
}

.imgspec {
    width: 80%;
}


/* Main header end */


/* About us part start */

.about_img {
    margin-top: -35px!important;
}


/* About us part end */


/* Work experience section start */

.workp {
    margin-top: -35px;
}

.expert_h2 {
    font-size: 25px;
    font-weight: 400;
    position: relative;
}

.expert_1:after {
    content: "93%";
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
}

.expert_2:after {
    content: "68%";
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
}

.expert_3:after {
    content: "82%";
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
}

.pb_1 {
    width: 93%;
    border-radius: .25rem;
    background-color: #ea2148;
}

.pb_2 {
    width: 68%;
    border-radius: .25rem;
    background-color: #ff7230;
}

.pb_3 {
    width: 82%;
    border-radius: .25rem;
    background-color: #1c9588;
}


/* Work experience section end */


/* Our Services start */

.services_sec {
    margin: 30px 0px;
}

.services_div {
    margin-top: 50px;
    padding: 30px;
    transition: all 0.3s linear;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px 0 #8c8c8c;
}

.services_div:hover {
    background: #fff;
    box-shadow: 0 0 4px 1px grey;
    background: #ff7230;
}

.services_div h1 {
    text-align: center;
    font-size: 40px;
    color: #ff7230;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    background: #ffeee6;
    transition: all 0.5s ease;
}

.services_div h1:hover {
    background: #ff7230;
    color: #ffeee6;
}

.servicesul {
    margin-bottom: 4rem;
}

.fa-heart {
    position: absolute;
    top: 200px;
    left: 15px;
}


/* Our services end */


/* Hireme section start */

.hireme_sec {
    margin-top: 70px;
    margin-bottom: 0;
    padding-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images4/v2.jpg);
    /* background-image: url(images4/v4.jpg); */
    background-size: 100% 100%;
    background-attachment: fixed;
}

.hireme_sec h1 {
    font-size: 40px;
    color: #ff7230;
    margin-top: 23px;
}

.hireme_sec p {
    font-size: 32px;
    color: #fff;
    letter-spacing: 2px;
    margin-top: -20px;
}

.hireme_sec h3 {
    font-size: 30px;
    margin-top: ;
    padding-bottom: 30px;
    color: #fff;
}


/* Hireme section end */


/* Contact us */

.socialsites_links {}

.fab {
    padding: 8px;
    background-color: hotpink;
    transition: all 0.5s ease;
    border-radius: 50%;
    cursor: pointer;
}

.fab:hover {
    background-color: goldenrod;
    color: #fff;
}


/* Contact us */

footer {
    height: 60px;
    background-color: #ff7230;
    width: 100%;
    color: #fff;
}